In [1]:
# 公式からとってくる。
# レースリスト、レースの参加メンバー、直前のオッズリストをESに突っ込む
# https://www.boatrace.jp/owpc/pc/race/index?hd=%s
# http://odds.kyotei24.jp/
# mySQL接続用のユーザ、パスワードは $BR_HOME/config_nogit/mysqlUser.json

import os
from bs4 import BeautifulSoup
import json
import urllib.request as u
import time
import re
import elasticsearch as es

import unicodedata

import pymysql

In [2]:
print(os.environ['GACRP_HOME'])
print(os.environ['BR_HOME'])

/home/ec2-user/kaggle/google-analytics-customer-revenue-prediction
/home/ec2-user/boatrace

In [4]:
# mySQLへの接続設定
with open(os.environ['BR_HOME']+'/config_nogit/mysqlUser.json') as mysqlconfig:
    mysqlConfig=json.load(mysqlconfig)

dbh=pymysql.connect(
    host='localhost',
    user=mysqlConfig['user'],
    password=mysqlConfig['password'],
    db='boatrace',
    charset='utf8',
    cursorclass=pymysql.cursors.DictCursor
)

In [5]:
#　会場とplaceIdとの紐づけファイルをロード。たぶん使わない。
with open('../config/def-place.json','r',encoding='utf8') as defPlace:
    placeDict=json.load(defPlace)
print(placeDict[0]['placeId'],placeDict[0]['placeName'])
#for i in range(len(placeDict)):
#    print("|"+placeDict[i]['placeId']+"|"+placeDict[i]['placeName']+"|")

01 桐生

In [8]:
def getRaceListKoushiki(ymd):
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/index?hd=%s" % ymd)
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    for block in soup.select(".table1"):
        recs=block.select("tr")
        for rec in recs:
            tds=rec.select("td")
            if len(tds)>0:
                tmp=tds[0]
                #placePattern=r'tpl=(\d\d)'
                placePattern=r'tv(\d*)'
                placeId=re.search(placePattern,str(tmp)).group(1)
                #print(placeId)
                
                tmp=tds[2]
                gradePattern=r'class=\"is-(.*?)\"'
                grade=re.search(gradePattern,str(tmp)).group(1)
                #print(grade)
                
                rname=tds[4].string
                #print(rname)
                
                for i in range(1,12+1):
                    raceId=ymd+'-'+str(placeId).zfill(2)+'-'+str(i).zfill(2)
                    raceDate=ymd
                    raceNumber=i
                    raceName=rname
                    raceGrade=grade
                    racePlaceId=str(placeId).zfill(2)
                    
                    yield raceId,raceDate,raceNumber,raceName,raceGrade,racePlaceId

ymd = "20190321"
with dbh.cursor() as cursor:
    for ret in getRaceListKoushiki(ymd):
        #print(ret)
        sel_sql="SELECT count(*) FROM racemanagement WHERE raceid='%s'" % (ret[0])
        cursor.execute(sel_sql)
        results=cursor.fetchone()
        if results== 0: #なければINSERT
            ins_sql="INSERT INTO racemanagement (raceId,raceDate,raceNumber,raceGrade,racePlaceId,racebeforeinfo_flg,racemember_flg,raceodds_flg) VALUES ('%s' ,'%s',%d,'%s','%s',FALSE,FALSE,FALSE)" % (ret[0],ret[1],ret[2],ret[4],ret[5])
            #print(ins_sql)
            cursor.execute(ins_sql)
    dbh.commit()

('20190321-01-01', '20190321', 1, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-02', '20190321', 2, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-03', '20190321', 3, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-04', '20190321', 4, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-05', '20190321', 5, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-06', '20190321', 6, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-07', '20190321', 7, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-08', '20190321', 8, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-09', '20190321', 9, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-10', '20190321', 10, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-11', '20190321', 11, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-01-12', '20190321', 12, 'みどり市発足１３周年記念・市議会議長杯', 'ippan', '01')
('20190321-02-01', '20190321', 1, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-02', '20190321', 2, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-03', '20190321', 3, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-04', '20190321', 4, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-05', '20190321', 5, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-06', '20190321', 6, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-07', '20190321', 7, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-08', '20190321', 8, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-09', '20190321', 9, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-10', '20190321', 10, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-11', '20190321', 11, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-02-12', '20190321', 12, '第５４回ボートレースクラシック', 'SGa', '02')
('20190321-03-01', '20190321', 1, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-02', '20190321', 2, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-03', '20190321', 3, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-04', '20190321', 4, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-05', '20190321', 5, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-06', '20190321', 6, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-07', '20190321', 7, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-08', '20190321', 8, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-09', '20190321', 9, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-10', '20190321', 10, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-11', '20190321', 11, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-03-12', '20190321', 12, '第１７回日本モーターボート選手会会長賞', 'ippan', '03')
('20190321-05-01', '20190321', 1, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-02', '20190321', 2, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-03', '20190321', 3, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-04', '20190321', 4, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-05', '20190321', 5, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-06', '20190321', 6, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-07', '20190321', 7, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-08', '20190321', 8, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-09', '20190321', 9, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-10', '20190321', 10, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-11', '20190321', 11, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-05-12', '20190321', 12, '多摩川巧者決定戦第１４回澤乃井カップ', 'ippan', '05')
('20190321-06-01', '20190321', 1, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-02', '20190321', 2, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-03', '20190321', 3, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-04', '20190321', 4, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-05', '20190321', 5, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-06', '20190321', 6, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-07', '20190321', 7, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-08', '20190321', 8, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-09', '20190321', 9, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-10', '20190321', 10, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-11', '20190321', 11, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-06-12', '20190321', 12, 'Ｄａｉｉｃｈｉ\u3000ＴＶ\u3000ファイティングカップ', 'ippan', '06')
('20190321-08-01', '20190321', 1, '週刊実話杯', 'ippan', '08')
('20190321-08-02', '20190321', 2, '週刊実話杯', 'ippan', '08')
('20190321-08-03', '20190321', 3, '週刊実話杯', 'ippan', '08')
('20190321-08-04', '20190321', 4, '週刊実話杯', 'ippan', '08')
('20190321-08-05', '20190321', 5, '週刊実話杯', 'ippan', '08')
('20190321-08-06', '20190321', 6, '週刊実話杯', 'ippan', '08')
('20190321-08-07', '20190321', 7, '週刊実話杯', 'ippan', '08')
('20190321-08-08', '20190321', 8, '週刊実話杯', 'ippan', '08')
('20190321-08-09', '20190321', 9, '週刊実話杯', 'ippan', '08')
('20190321-08-10', '20190321', 10, '週刊実話杯', 'ippan', '08')
('20190321-08-11', '20190321', 11, '週刊実話杯', 'ippan', '08')
('20190321-08-12', '20190321', 12, '週刊実話杯', 'ippan', '08')
('20190321-10-01', '20190321', 1, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-02', '20190321', 2, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-03', '20190321', 3, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-04', '20190321', 4, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-05', '20190321', 5, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-06', '20190321', 6, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-07', '20190321', 7, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-08', '20190321', 8, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-09', '20190321', 9, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-10', '20190321', 10, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-11', '20190321', 11, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-10-12', '20190321', 12, '坂井市制１３周年\u3000男女Ｗ優勝戦', 'ippan', '10')
('20190321-12-01', '20190321', 1, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-02', '20190321', 2, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-03', '20190321', 3, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-04', '20190321', 4, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-05', '20190321', 5, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-06', '20190321', 6, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-07', '20190321', 7, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-08', '20190321', 8, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-09', '20190321', 9, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-10', '20190321', 10, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-11', '20190321', 11, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-12-12', '20190321', 12, 'アクアコンシェルジュカップ', 'ippan', '12')
('20190321-13-01', '20190321', 1, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-02', '20190321', 2, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-03', '20190321', 3, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-04', '20190321', 4, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-05', '20190321', 5, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-06', '20190321', 6, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-07', '20190321', 7, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-08', '20190321', 8, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-09', '20190321', 9, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-10', '20190321', 10, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-11', '20190321', 11, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-13-12', '20190321', 12, 'スポーツニッポン杯争奪\u3000第２８回しらなみ賞競走', 'ippan', '13')
('20190321-15-01', '20190321', 1, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-02', '20190321', 2, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-03', '20190321', 3, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-04', '20190321', 4, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-05', '20190321', 5, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-06', '20190321', 6, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-07', '20190321', 7, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-08', '20190321', 8, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-09', '20190321', 9, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-10', '20190321', 10, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-11', '20190321', 11, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-15-12', '20190321', 12, 'Ｇ３第２８回\u3000ＪＲ四国ワープ杯競走', 'G3b', '15')
('20190321-18-01', '20190321', 1, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-02', '20190321', 2, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-03', '20190321', 3, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-04', '20190321', 4, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-05', '20190321', 5, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-06', '20190321', 6, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-07', '20190321', 7, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-08', '20190321', 8, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-09', '20190321', 9, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-10', '20190321', 10, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-11', '20190321', 11, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-18-12', '20190321', 12, '九州スポーツ杯争奪戦', 'ippan', '18')
('20190321-19-01', '20190321', 1, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-02', '20190321', 2, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-03', '20190321', 3, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-04', '20190321', 4, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-05', '20190321', 5, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-06', '20190321', 6, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-07', '20190321', 7, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-08', '20190321', 8, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-09', '20190321', 9, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-10', '20190321', 10, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-11', '20190321', 11, '西京波者結成９周年記念', 'ippan', '19')
('20190321-19-12', '20190321', 12, '西京波者結成９周年記念', 'ippan', '19')
('20190321-20-01', '20190321', 1, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-02', '20190321', 2, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-03', '20190321', 3, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-04', '20190321', 4, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-05', '20190321', 5, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-06', '20190321', 6, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-07', '20190321', 7, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-08', '20190321', 8, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-09', '20190321', 9, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-10', '20190321', 10, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-11', '20190321', 11, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-20-12', '20190321', 12, 'ビッグベアーズカップ', 'ippan', '20')
('20190321-21-01', '20190321', 1, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-02', '20190321', 2, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-03', '20190321', 3, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-04', '20190321', 4, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-05', '20190321', 5, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-06', '20190321', 6, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-07', '20190321', 7, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-08', '20190321', 8, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-09', '20190321', 9, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-10', '20190321', 10, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-11', '20190321', 11, '第７回楽天銀行杯', 'ippan', '21')
('20190321-21-12', '20190321', 12, '第７回楽天銀行杯', 'ippan', '21')
('20190321-22-01', '20190321', 1, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-02', '20190321', 2, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-03', '20190321', 3, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-04', '20190321', 4, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-05', '20190321', 5, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-06', '20190321', 6, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-07', '20190321', 7, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-08', '20190321', 8, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-09', '20190321', 9, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-10', '20190321', 10, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-11', '20190321', 11, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')
('20190321-22-12', '20190321', 12, 'ほぼオールレディース！福岡Ｊ・アンクラス杯', 'ippan', '22')

In [13]:
def getRaceMemberKoushiki(raceId):
    #html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/index?hd=%s" % ymd)
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/racelist?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    for block in soup.select(".is-fs12"):
        #print(block)
        recs=block.select("tr")
        rec=recs[0]
        tds=rec.select("td")
        lane=unicodedata.normalize('NFKC', tds[0].string)        
        tobanId=((tds[2].select(".is-fs11"))[0].contents[0].strip())[0:4]
        rank=(tds[2].select("span"))[0].string
        #print("lane:",lane)
        #print("tobanId:",tobanId)
        #print("rank:",rank)
        #print(tds[2]) ※　他に取りたい項目があればここからとってくる
        
        yield lane,tobanId,rank

dbh.rollback()
raceDate="20190321"
with dbh.cursor() as cursor:
    sel_sql = "SELECT raceId FROM racemanagement WHERE raceDate='%s' and racemember_flg = FALSE" % (raceDate)
    cursor.execute(sel_sql)
    raceIdList=cursor.fetchall()
    for raceIdhash in raceIdList:
        raceId = raceIdhash['raceId']
        print(raceId)        
        with dbh.cursor() as ins_cursor:
            for ret in getRaceMemberKoushiki(raceId):
                #print(ret)
                ins_sql="INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('%s' ,%d,'%s','%s')" % (raceId,int(ret[0]),ret[1],ret[2])
                #print(ins_sql)
                ins_cursor.execute(ins_sql)
            upd_sql="UPDATE racemanagement SET racemember_flg = TRUE where raceId ='%s'" % (raceId)
            ins_cursor.execute(upd_sql)
            dbh.commit()

20190321-01-02
20190321 2 01
('1', '4648', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,1,'4648','B1')
('2', '4667', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,2,'4667','B1')
('3', '4393', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,3,'4393','A2')
('4', '3555', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,4,'3555','A1')
('5', '3702', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,5,'3702','A2')
('6', '3790', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-02' ,6,'3790','B1')
20190321-01-03
20190321 3 01
('1', '4169', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,1,'4169','B1')
('2', '3990', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,2,'3990','A2')
('3', '4446', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,3,'4446','A1')
('4', '5051', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,4,'5051','B2')
('5', '4056', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,5,'4056','B1')
('6', '3814', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-03' ,6,'3814','A2')
20190321-01-04
20190321 4 01
('1', '3856', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,1,'3856','B2')
('2', '3896', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,2,'3896','A2')
('3', '3331', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,3,'3331','A1')
('4', '3360', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,4,'3360','A2')
('5', '4406', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,5,'4406','B1')
('6', '3461', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-04' ,6,'3461','B1')
20190321-01-05
20190321 5 01
('1', '4637', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,1,'4637','B1')
('2', '4052', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,2,'4052','A1')
('3', '3759', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,3,'3759','B1')
('4', '4215', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,4,'4215','A2')
('5', '3904', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,5,'3904','A2')
('6', '4533', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-05' ,6,'4533','B1')
20190321-01-06
20190321 6 01
('1', '3777', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,1,'3777','A1')
('2', '3859', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,2,'3859','B1')
('3', '4648', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,3,'4648','B1')
('4', '3691', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,4,'3691','B1')
('5', '3123', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,5,'3123','B1')
('6', '3276', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-06' ,6,'3276','B1')
20190321-01-07
20190321 7 01
('1', '4750', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,1,'4750','B1')
('2', '4404', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,2,'4404','A2')
('3', '3349', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,3,'3349','A1')
('4', '4085', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,4,'4085','A1')
('5', '3812', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,5,'3812','B1')
('6', '4162', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-07' ,6,'4162','B1')
20190321-01-08
20190321 8 01
('1', '4539', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,1,'4539','A1')
('2', '3461', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,2,'3461','B1')
('3', '3673', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,3,'3673','B1')
('4', '3523', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,4,'3523','B1')
('5', '4175', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,5,'4175','A1')
('6', '5051', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-08' ,6,'5051','B2')
20190321-01-09
20190321 9 01
('1', '4209', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,1,'4209','A2')
('2', '3743', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,2,'3743','A1')
('3', '4533', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,3,'4533','B1')
('4', '3896', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,4,'3896','A2')
('5', '4667', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,5,'4667','B1')
('6', '5063', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-09' ,6,'5063','B2')
20190321-01-10
20190321 10 01
('1', '4214', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,1,'4214','A2')
('2', '3814', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,2,'3814','A2')
('3', '3859', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,3,'3859','B1')
('4', '3790', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,4,'3790','B1')
('5', '4637', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,5,'4637','B1')
('6', '3517', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-10' ,6,'3517','B2')
20190321-01-11
20190321 11 01
('1', '4052', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,1,'4052','A1')
('2', '3290', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,2,'3290','A1')
('3', '4539', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,3,'4539','A1')
('4', '3349', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,4,'3349','A1')
('5', '3777', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,5,'3777','A1')
('6', '3360', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-11' ,6,'3360','A2')
20190321-01-12
20190321 12 01
('1', '4085', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,1,'4085','A1')
('2', '3331', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,2,'3331','A1')
('3', '3743', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,3,'3743','A1')
('4', '4175', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,4,'4175','A1')
('5', '4446', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,5,'4446','A1')
('6', '3555', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-01-12' ,6,'3555','A1')
20190321-02-01
20190321 1 02
('1', '3502', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,1,'3502','A1')
('2', '4682', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,2,'4682','A1')
('3', '3946', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,3,'3946','A1')
('4', '4324', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,4,'4324','A1')
('5', '4188', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,5,'4188','A1')
('6', '4216', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-01' ,6,'4216','A1')
20190321-02-02
20190321 2 02

('1', '4028', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,1,'4028','A1')
('2', '4190', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,2,'4190','A1')
('3', '4500', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,3,'4500','A1')
('4', '4524', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,4,'4524','A1')
('5', '4544', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,5,'4544','A1')
('6', '4364', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-02' ,6,'4364','A1')
20190321-02-03
20190321 3 02
('1', '4320', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,1,'4320','A1')
('2', '4502', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,2,'4502','A1')
('3', '4296', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,3,'4296','A1')
('4', '3779', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,4,'3779','A1')
('5', '3898', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,5,'3898','A1')
('6', '4237', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-03' ,6,'4237','A1')
20190321-02-04
20190321 4 02
('1', '3232', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,1,'3232','A1')
('2', '3822', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,2,'3822','A1')
('3', '3623', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,3,'3623','A1')
('4', '4444', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,4,'4444','A1')
('5', '3613', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,5,'3613','A1')
('6', '4371', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-04' ,6,'4371','A1')
20190321-02-05
20190321 5 02
('1', '4384', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,1,'4384','A1')
('2', '4238', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,2,'4238','A1')
('3', '4188', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,3,'4188','A1')
('4', '3960', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,4,'3960','A1')
('5', '3716', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,5,'3716','A2')
('6', '3721', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-05' ,6,'3721','A1')
20190321-02-06
20190321 6 02
('1', '4205', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,1,'4205','A1')
('2', '4260', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,2,'4260','A2')
('3', '4024', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,3,'4024','A1')
('4', '4019', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,4,'4019','A1')
('5', '4586', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,5,'4586','A1')
('6', '3573', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-06' ,6,'3573','A1')
20190321-02-07
20190321 7 02
('1', '4524', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,1,'4524','A1')
('2', '3898', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,2,'3898','A1')
('3', '3613', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,3,'3613','A1')
('4', '3622', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,4,'3622','A1')
('5', '4190', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,5,'4190','A1')
('6', '4547', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-07' ,6,'4547','A1')
20190321-02-08
20190321 8 02
('1', '4851', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,1,'4851','A1')
('2', '4544', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,2,'4544','A1')
('3', '3779', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,3,'3779','A1')
('4', '4399', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,4,'4399','A1')
('5', '4682', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,5,'4682','A1')
('6', '4418', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-08' ,6,'4418','A1')
20190321-02-09
20190321 9 02
('1', '4586', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,1,'4586','A1')
('2', '4364', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,2,'4364','A1')
('3', '4013', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,3,'4013','A1')
('4', '3716', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,4,'3716','A2')
('5', '3557', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,5,'3557','A1')
('6', '3623', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-09' ,6,'3623','A1')
20190321-02-10
20190321 10 02
('1', '4019', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,1,'4019','A1')
('2', '3960', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,2,'3960','A1')
('3', '4320', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,3,'4320','A1')
('4', '4024', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,4,'4024','A1')
('5', '4238', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,5,'4238','A1')
('6', '4028', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-10' ,6,'4028','A1')
20190321-02-11
20190321 11 02
('1', '4500', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,1,'4500','A1')
('2', '4444', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,2,'4444','A1')
('3', '3622', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,3,'3622','A1')
('4', '3822', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,4,'3822','A1')
('5', '4502', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,5,'4502','A1')
('6', '4205', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-11' ,6,'4205','A1')
20190321-02-12
20190321 12 02
('1', '3854', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,1,'3854','A1')
('2', '4266', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,2,'4266','A1')
('3', '4262', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,3,'4262','A1')
('4', '3897', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,4,'3897','A1')
('5', '4497', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,5,'4497','A1')
('6', '3744', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-02-12' ,6,'3744','A1')
20190321-03-01
20190321 1 03
('1', '3136', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,1,'3136','B2')
('2', '4010', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,2,'4010','B1')
('3', '3755', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,3,'3755','B1')
('4', '4902', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,4,'4902','B1')
('5', '5007', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,5,'5007','B2')
('6', '4863', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-01' ,6,'4863','B1')
20190321-03-02
20190321 2 03

('1', '4379', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,1,'4379','B1')
('2', '3052', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,2,'3052','B1')
('3', '4948', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,3,'4948','B1')
('4', '4877', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,4,'4877','B1')
('5', '3868', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,5,'3868','B1')
('6', '3370', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-02' ,6,'3370','B1')
20190321-03-03
20190321 3 03
('1', '4058', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,1,'4058','B1')
('2', '3602', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,2,'3602','A2')
('3', '3955', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,3,'3955','A2')
('4', '5023', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,4,'5023','B2')
('5', '5042', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,5,'5042','B1')
('6', '3872', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-03' ,6,'3872','A1')
20190321-03-04
20190321 4 03
('1', '4562', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,1,'4562','B1')
('2', '3966', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,2,'3966','A2')
('3', '3503', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,3,'3503','B1')
('4', '4398', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,4,'4398','A1')
('5', '4076', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,5,'4076','A2')
('6', '4875', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-04' ,6,'4875','B1')
20190321-03-05
20190321 5 03
('1', '3303', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,1,'3303','B1')
('2', '4598', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,2,'4598','A2')
('3', '3338', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,3,'3338','B1')
('4', '3907', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,4,'3907','A2')
('5', '4010', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,5,'4010','B1')
('6', '4193', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-05' ,6,'4193','A2')
20190321-03-06
20190321 6 03
('1', '4453', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,1,'4453','B1')
('2', '4696', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,2,'4696','B2')
('3', '4236', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,3,'4236','A1')
('4', '3755', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,4,'3755','B1')
('5', '4301', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,5,'4301','A1')
('6', '3868', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-06' ,6,'3868','B1')
20190321-03-07
20190321 7 03
('1', '4422', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,1,'4422','B1')
('2', '4284', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,2,'4284','B1')
('3', '4863', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,3,'4863','B1')
('4', '4948', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,4,'4948','B1')
('5', '5023', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,5,'5023','B2')
('6', '3935', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-07' ,6,'3935','A2')
20190321-03-08
20190321 8 03
('1', '3572', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,1,'3572','A1')
('2', '3964', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,2,'3964','B1')
('3', '3370', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,3,'3370','B1')
('4', '3602', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,4,'3602','A2')
('5', '3136', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,5,'3136','B2')
('6', '3503', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-08' ,6,'3503','B1')
20190321-03-09
20190321 9 03
('1', '4598', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,1,'4598','A2')
('2', '4681', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,2,'4681','B1')
('3', '4058', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,3,'4058','B1')
('4', '4562', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,4,'4562','B1')
('5', '3516', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,5,'3516','A2')
('6', '3052', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-09' ,6,'3052','B1')
20190321-03-10
20190321 10 03
('1', '4076', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,1,'4076','A2')
('2', '3907', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,2,'3907','A2')
('3', '3872', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,3,'3872','A1')
('4', '3024', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,4,'3024','A1')
('5', '4379', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,5,'4379','B1')
('6', '4696', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-10' ,6,'4696','B2')
20190321-03-11
20190321 11 03
('1', '4236', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,1,'4236','A1')
('2', '3955', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,2,'3955','A2')
('3', '4089', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,3,'4089','A1')
('4', '3303', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,4,'3303','B1')
('5', '3966', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,5,'3966','A2')
('6', '3454', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-11' ,6,'3454','B1')
20190321-03-12
20190321 12 03
('1', '4398', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,1,'4398','A1')
('2', '4301', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,2,'4301','A1')
('3', '4193', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,3,'4193','A2')
('4', '4578', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,4,'4578','A2')
('5', '4284', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,5,'4284','B1')
('6', '3964', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-03-12' ,6,'3964','B1')
20190321-05-01
20190321 1 05
('1', '3902', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,1,'3902','A2')
('2', '3652', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,2,'3652','B1')
('3', '4037', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,3,'4037','B1')
('4', '4082', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,4,'4082','A2')
('5', '3620', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,5,'3620','B1')
('6', '5010', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-01' ,6,'5010','B2')
20190321-05-02
20190321 2 05

('1', '3891', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,1,'3891','B1')
('2', '4272', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,2,'4272','B1')
('3', '4390', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,3,'4390','B1')
('4', '3505', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,4,'3505','A2')
('5', '4035', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,5,'4035','B1')
('6', '3313', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-02' ,6,'3313','B1')
20190321-05-03
20190321 3 05
('1', '3860', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,1,'3860','B1')
('2', '3392', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,2,'3392','B1')
('3', '4268', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,3,'4268','B1')
('4', '4139', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,4,'4139','B1')
('5', '3681', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,5,'3681','A2')
('6', '3833', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-03' ,6,'3833','A1')
20190321-05-04
20190321 4 05
('1', '4046', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,1,'4046','B1')
('2', '3406', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,2,'3406','A1')
('3', '3621', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,3,'3621','A1')
('4', '4540', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,4,'4540','B1')
('5', '4410', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,5,'4410','A2')
('6', '4867', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-04' ,6,'4867','B2')
20190321-05-05
20190321 5 05
('1', '4368', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,1,'4368','B1')
('2', '3656', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,2,'3656','A2')
('3', '3838', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,3,'3838','A2')
('4', '3940', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,4,'3940','A1')
('5', '4518', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,5,'4518','B1')
('6', '4563', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-05' ,6,'4563','B1')
20190321-05-06
20190321 6 05
('1', '3365', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,1,'3365','B1')
('2', '3679', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,2,'3679','A1')
('3', '3692', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,3,'3692','B1')
('4', '4526', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,4,'4526','A2')
('5', '4086', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,5,'4086','A1')
('6', '3564', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-06' ,6,'3564','B1')
20190321-05-07
20190321 7 05
('1', '4118', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,1,'4118','A2')
('2', '3439', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,2,'3439','A2')
('3', '3888', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,3,'3888','A1')
('4', '3392', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,4,'3392','B1')
('5', '3952', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,5,'3952','A1')
('6', '4390', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-07' ,6,'4390','B1')
20190321-05-08
20190321 8 05
('1', '3681', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,1,'3681','A2')
('2', '3620', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,2,'3620','B1')
('3', '3385', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,3,'3385','A1')
('4', '4080', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,4,'4080','A2')
('5', '4046', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,5,'4046','B1')
('6', '3841', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-08' ,6,'3841','A1')
20190321-05-09
20190321 9 05
('1', '3589', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,1,'3589','A1')
('2', '4518', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,2,'4518','B1')
('3', '4807', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,3,'4807','B2')
('4', '3652', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,4,'3652','B1')
('5', '3891', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,5,'3891','B1')
('6', '4268', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-09' ,6,'4268','B1')
20190321-05-10
20190321 10 05
('1', '4526', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,1,'4526','A2')
('2', '3505', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,2,'3505','A2')
('3', '3860', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,3,'3860','B1')
('4', '4368', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,4,'4368','B1')
('5', '3406', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,5,'3406','A1')
('6', '4082', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-10' ,6,'4082','A2')
20190321-05-11
20190321 11 05
('1', '4086', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,1,'4086','A1')
('2', '4139', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,2,'4139','B1')
('3', '4410', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,3,'4410','A2')
('4', '3439', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,4,'3439','A2')
('5', '4272', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,5,'4272','B1')
('6', '3838', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-11' ,6,'3838','A2')
20190321-05-12
20190321 12 05
('1', '3952', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,1,'3952','A1')
('2', '3940', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,2,'3940','A1')
('3', '3841', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,3,'3841','A1')
('4', '3833', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,4,'3833','A1')
('5', '3679', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,5,'3679','A1')
('6', '3621', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-05-12' ,6,'3621','A1')
20190321-06-01
20190321 1 06
('1', '3507', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,1,'3507','B1')
('2', '4527', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,2,'4527','B1')
('3', '4929', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,3,'4929','B1')
('4', '4740', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,4,'4740','B1')
('5', '5034', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,5,'5034','B2')
('6', '4663', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-01' ,6,'4663','B1')
20190321-06-02
20190321 2 06

('1', '3683', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,1,'3683','B1')
('2', '4843', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,2,'4843','B1')
('3', '3951', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,3,'3951','A2')
('4', '4644', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,4,'4644','B1')
('5', '5019', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,5,'5019','B2')
('6', '4357', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-02' ,6,'4357','A2')
20190321-06-03
20190321 3 06
('1', '4803', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,1,'4803','B1')
('2', '4261', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,2,'4261','B1')
('3', '4355', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,3,'4355','B1')
('4', '3956', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,4,'3956','A1')
('5', '4077', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,5,'4077','B1')
('6', '3690', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-03' ,6,'3690','A2')
20190321-06-04
20190321 4 06
('1', '3475', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,1,'3475','A1')
('2', '3474', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,2,'3474','B1')
('3', '3680', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,3,'3680','B1')
('4', '3506', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,4,'3506','B1')
('5', '5021', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,5,'5021','B2')
('6', '4182', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-04' ,6,'4182','B1')
20190321-06-05
20190321 5 06
('1', '4419', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,1,'4419','B1')
('2', '3527', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,2,'3527','A2')
('3', '4257', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,3,'4257','A2')
('4', '5034', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,4,'5034','B2')
('5', '3362', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,5,'3362','A1')
('6', '4092', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-05' ,6,'4092','B1')
20190321-06-06
20190321 6 06
('1', '4651', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,1,'4651','B1')
('2', '3245', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,2,'3245','A2')
('3', '4663', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,3,'4663','B1')
('4', '3877', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,4,'3877','B1')
('5', '3488', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,5,'3488','A2')
('6', '3054', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-06' ,6,'3054','A1')
20190321-06-07
20190321 7 06
('1', '3951', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,1,'3951','A2')
('2', '4321', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,2,'4321','B1')
('3', '4077', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,3,'4077','B1')
('4', '4213', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,4,'4213','B1')
('5', '3784', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,5,'3784','A2')
('6', '4225', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-07' ,6,'4225','A1')
20190321-06-08
20190321 8 06
('1', '3619', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,1,'3619','A2')
('2', '4740', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,2,'4740','B1')
('3', '3690', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,3,'3690','A2')
('4', '5021', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,4,'5021','B2')
('5', '4261', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,5,'4261','B1')
('6', '3703', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-08' ,6,'3703','A1')
20190321-06-09
20190321 9 06
('1', '3506', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,1,'3506','B1')
('2', '3981', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,2,'3981','A2')
('3', '3527', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,3,'3527','A2')
('4', '3876', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,4,'3876','A1')
('5', '4527', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,5,'4527','B1')
('6', '4843', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-09' ,6,'4843','B1')
20190321-06-10
20190321 10 06
('1', '4257', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,1,'4257','A2')
('2', '4182', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,2,'4182','B1')
('3', '3956', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,3,'3956','A1')
('4', '4929', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,4,'4929','B1')
('5', '3245', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,5,'3245','A2')
('6', '4644', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-10' ,6,'4644','B1')
20190321-06-11
20190321 11 06
('1', '3488', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,1,'3488','A2')
('2', '4355', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,2,'4355','B1')
('3', '4225', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,3,'4225','A1')
('4', '3683', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,4,'3683','B1')
('5', '3475', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,5,'3475','A1')
('6', '4836', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-11' ,6,'4836','A2')
20190321-06-12
20190321 12 06
('1', '3362', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,1,'3362','A1')
('2', '4357', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,2,'4357','A2')
('3', '3703', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,3,'3703','A1')
('4', '4651', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,4,'4651','B1')
('5', '4213', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,5,'4213','B1')
('6', '3981', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-06-12' ,6,'3981','A2')
20190321-08-01
20190321 1 08
('1', '3296', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,1,'3296','B2')
('2', '3867', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,2,'3867','B1')
('3', '4665', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,3,'4665','B1')
('4', '4792', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,4,'4792','B1')
('5', '4602', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,5,'4602','B2')
('6', '4973', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-01' ,6,'4973','B2')
20190321-08-02
20190321 2 08

('1', '3519', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,1,'3519','B1')
('2', '3584', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,2,'3584','A2')
('3', '4047', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,3,'4047','B1')
('4', '4353', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,4,'4353','B1')
('5', '3984', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,5,'3984','A1')
('6', '3865', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-02' ,6,'3865','B1')
20190321-08-03
20190321 3 08
('1', '4138', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,1,'4138','A2')
('2', '4020', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,2,'4020','B1')
('3', '4263', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,3,'4263','A1')
('4', '4442', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,4,'4442','B1')
('5', '4692', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,5,'4692','B2')
('6', '4036', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-03' ,6,'4036','A1')
20190321-08-04
20190321 4 08
('1', '3805', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,1,'3805','A1')
('2', '3950', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,2,'3950','B1')
('3', '3376', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,3,'3376','B1')
('4', '3158', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,4,'3158','A1')
('5', '4731', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,5,'4731','B1')
('6', '3333', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-04' ,6,'3333','A2')
20190321-08-05
20190321 5 08
('1', '3730', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,1,'3730','A2')
('2', '4203', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,2,'4203','B1')
('3', '4229', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,3,'4229','B1')
('4', '4973', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,4,'4973','B2')
('5', '3747', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,5,'3747','A2')
('6', '3737', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-05' ,6,'3737','A1')
20190321-08-06
20190321 6 08
('1', '3915', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,1,'3915','A2')
('2', '3870', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,2,'3870','B1')
('3', '3865', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,3,'3865','B1')
('4', '4704', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,4,'4704','A2')
('5', '4568', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,5,'4568','B1')
('6', '3268', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-06' ,6,'3268','A1')
20190321-08-07
20190321 7 08
('1', '4665', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,1,'4665','B1')
('2', '4793', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,2,'4793','B1')
('3', '4256', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,3,'4256','A1')
('4', '4138', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,4,'4138','A2')
('5', '4353', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,5,'4353','B1')
('6', '3463', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-07' ,6,'3463','A2')
20190321-08-08
20190321 8 08
('1', '3376', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,1,'3376','B1')
('2', '4692', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,2,'4692','B2')
('3', '3022', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,3,'3022','A1')
('4', '3553', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,4,'3553','A2')
('5', '4239', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,5,'4239','A2')
('6', '4047', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-08' ,6,'4047','B1')
20190321-08-09
20190321 9 08
('1', '4263', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,1,'4263','A1')
('2', '4128', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,2,'4128','B1')
('3', '3730', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,3,'3730','A2')
('4', '3950', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,4,'3950','B1')
('5', '3566', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,5,'3566','B1')
('6', '3584', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-09' ,6,'3584','A2')
20190321-08-10
20190321 10 08
('1', '3984', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,1,'3984','A1')
('2', '4442', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,2,'4442','B1')
('3', '3870', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,3,'3870','B1')
('4', '3333', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,4,'3333','A2')
('5', '4229', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,5,'4229','B1')
('6', '4306', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-10' ,6,'4306','A2')
20190321-08-11
20190321 11 08
('1', '3158', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,1,'3158','A1')
('2', '3747', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,2,'3747','A2')
('3', '3519', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,3,'3519','B1')
('4', '3463', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,4,'3463','A2')
('5', '4020', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,5,'4020','B1')
('6', '4704', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-11' ,6,'4704','A2')
20190321-08-12
20190321 12 08
('1', '3022', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,1,'3022','A1')
('2', '3268', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,2,'3268','A1')
('3', '3737', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,3,'3737','A1')
('4', '3805', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,4,'3805','A1')
('5', '4036', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,5,'4036','A1')
('6', '4256', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-08-12' ,6,'4256','A1')
20190321-10-01
20190321 1 10
('1', '3577', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,1,'3577','A1')
('2', '4695', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,2,'4695','B1')
('3', '4000', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,3,'4000','A2')
('4', '3637', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,4,'3637','B1')
('5', '4016', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,5,'4016','A2')
('6', '4912', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-01' ,6,'4912','B1')
20190321-10-02
20190321 2 10

('1', '4183', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,1,'4183','A2')
('2', '4961', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,2,'4961','B1')
('3', '4519', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,3,'4519','A2')
('4', '4400', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,4,'4400','B1')
('5', '4997', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,5,'4997','B2')
('6', '3528', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-02' ,6,'3528','B1')
20190321-10-03
20190321 3 10
('1', '4565', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,1,'4565','B1')
('2', '4729', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,2,'4729','B1')
('3', '4594', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,3,'4594','A1')
('4', '4632', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,4,'4632','B1')
('5', '3499', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,5,'3499','A1')
('6', '4570', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-03' ,6,'4570','A2')
20190321-10-04
20190321 4 10
('1', '4841', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,1,'4841','B2')
('2', '4611', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,2,'4611','A2')
('3', '4304', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,3,'4304','A1')
('4', '4947', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,4,'4947','B2')
('5', '3674', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,5,'3674','A2')
('6', '3580', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-04' ,6,'3580','B1')
20190321-10-05
20190321 5 10
('1', '3546', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,1,'3546','A2')
('2', '4090', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,2,'4090','A2')
('3', '3529', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,3,'3529','A1')
('4', '3537', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,4,'3537','B1')
('5', '4489', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,5,'4489','B1')
('6', '4397', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-05' ,6,'4397','A1')
20190321-10-06
20190321 6 10
('1', '4071', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,1,'4071','B1')
('2', '4726', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,2,'4726','A2')
('3', '4050', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,3,'4050','A1')
('4', '3611', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,4,'3611','A1')
('5', '5013', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,5,'5013','B2')
('6', '4699', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-06' ,6,'4699','B2')
20190321-10-07
20190321 7 10
('1', '4729', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,1,'4729','B1')
('2', '4016', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,2,'4016','A2')
('3', '4587', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,3,'4587','A2')
('4', '3577', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,4,'3577','A1')
('5', '4604', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,5,'4604','A1')
('6', '4346', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-07' ,6,'4346','B1')
20190321-10-08
20190321 8 10
('1', '3674', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,1,'3674','A2')
('2', '4923', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,2,'4923','B1')
('3', '4183', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,3,'4183','A2')
('4', '4611', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,4,'4611','A2')
('5', '4224', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,5,'4224','B1')
('6', '4997', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-08' ,6,'4997','B2')
20190321-10-09
20190321 9 10
('1', '4090', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,1,'4090','A2')
('2', '4912', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,2,'4912','B1')
('3', '4397', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,3,'4397','A1')
('4', '4594', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,4,'4594','A1')
('5', '4565', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,5,'4565','B1')
('6', '3635', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-09' ,6,'3635','A1')
20190321-10-10
20190321 10 10
('1', '4941', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,1,'4941','B1')
('2', '3611', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,2,'3611','A1')
('3', '3469', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,3,'3469','B1')
('4', '4304', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,4,'4304','A1')
('5', '4501', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,5,'4501','A2')
('6', '5013', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-10' ,6,'5013','B2')
20190321-10-11
20190321 11 10
('1', '3529', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,1,'3529','A1')
('2', '3546', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,2,'3546','A2')
('3', '4570', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,3,'4570','A2')
('4', '4604', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,4,'4604','A1')
('5', '4000', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,5,'4000','A2')
('6', '3432', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-11' ,6,'3432','B1')
20190321-10-12
20190321 12 10
('1', '4050', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,1,'4050','A1')
('2', '3580', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,2,'3580','B1')
('3', '4726', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,3,'4726','A2')
('4', '4961', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,4,'4961','B1')
('5', '4519', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,5,'4519','A2')
('6', '4947', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-10-12' ,6,'4947','B2')
20190321-12-01
20190321 1 12
('1', '3281', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,1,'3281','B1')
('2', '4293', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,2,'4293','B1')
('3', '4763', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,3,'4763','B2')
('4', '4245', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,4,'4245','B1')
('5', '3752', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,5,'3752','B1')
('6', '5017', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-01' ,6,'5017','B1')
20190321-12-02
20190321 2 12

('1', '3243', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,1,'3243','B2')
('2', '4274', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,2,'4274','B1')
('3', '3890', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,3,'3890','A2')
('4', '4057', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,4,'4057','A1')
('5', '3819', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,5,'3819','B2')
('6', '3670', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-02' ,6,'3670','B1')
20190321-12-03
20190321 3 12
('1', '3893', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,1,'3893','B1')
('2', '4407', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,2,'4407','B1')
('3', '4356', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,3,'4356','A1')
('4', '3411', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,4,'3411','B1')
('5', '3533', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,5,'3533','B1')
('6', '4288', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-03' ,6,'4288','A2')
20190321-12-04
20190321 4 12
('1', '3725', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,1,'3725','B1')
('2', '3462', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,2,'3462','A2')
('3', '3659', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,3,'3659','A1')
('4', '3174', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,4,'3174','B1')
('5', '4652', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,5,'4652','B1')
('6', '3489', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-04' ,6,'3489','A1')
20190321-12-05
20190321 5 12
('1', '4653', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,1,'4653','A1')
('2', '3417', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,2,'3417','B1')
('3', '3593', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,3,'3593','B1')
('4', '4293', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,4,'4293','B1')
('5', '4329', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,5,'4329','B1')
('6', '4824', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-05' ,6,'4824','A2')
20190321-12-06
20190321 6 12
('1', '3839', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,1,'3839','B1')
('2', '3243', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,2,'3243','B2')
('3', '3594', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,3,'3594','B1')
('4', '4043', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,4,'4043','A1')
('5', '4420', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,5,'4420','A2')
('6', '4366', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-06' ,6,'4366','A1')
20190321-12-07
20190321 7 12
('1', '3713', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,1,'3713','A2')
('2', '3281', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,2,'3281','B1')
('3', '3568', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,3,'3568','A1')
('4', '3670', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,4,'3670','B1')
('5', '4407', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,5,'4407','B1')
('6', '4677', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-07' ,6,'4677','A2')
20190321-12-08
20190321 8 12
('1', '3890', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,1,'3890','A2')
('2', '4075', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,2,'4075','A1')
('3', '3752', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,3,'3752','B1')
('4', '3533', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,4,'3533','B1')
('5', '4358', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,5,'4358','A2')
('6', '3831', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-08' ,6,'3831','B1')
20190321-12-09
20190321 9 12
('1', '3975', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,1,'3975','A2')
('2', '4365', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,2,'4365','B1')
('3', '4329', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,3,'4329','B1')
('4', '3892', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,4,'3892','A2')
('5', '3462', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,5,'3462','A2')
('6', '4274', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-09' ,6,'4274','B1')
20190321-12-10
20190321 10 12
('1', '3659', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,1,'3659','A1')
('2', '4824', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,2,'4824','A2')
('3', '3893', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,3,'3893','B1')
('4', '3839', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,4,'3839','B1')
('5', '4259', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,5,'4259','A1')
('6', '4635', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-10' ,6,'4635','A2')
20190321-12-11
20190321 11 12
('1', '4043', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,1,'4043','A1')
('2', '4245', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,2,'4245','B1')
('3', '4288', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,3,'4288','A2')
('4', '4677', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,4,'4677','A2')
('5', '4163', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,5,'4163','A1')
('6', '4057', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-11' ,6,'4057','A1')
20190321-12-12
20190321 12 12
('1', '4075', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,1,'4075','A1')
('2', '3568', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,2,'3568','A1')
('3', '3489', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,3,'3489','A1')
('4', '4366', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,4,'4366','A1')
('5', '4653', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,5,'4653','A1')
('6', '4356', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-12-12' ,6,'4356','A1')
20190321-13-01
20190321 1 13
('1', '3685', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,1,'3685','A1')
('2', '3567', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,2,'3567','B1')
('3', '3967', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,3,'3967','B1')
('4', '3187', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,4,'3187','B1')
('5', '3647', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,5,'3647','B1')
('6', '3761', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-01' ,6,'3761','A2')
20190321-13-02
20190321 2 13

('1', '4873', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,1,'4873','B1')
('2', '3835', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,2,'3835','B2')
('3', '4330', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,3,'4330','A1')
('4', '3350', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,4,'3350','A2')
('5', '3544', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,5,'3544','B1')
('6', '4865', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-02' ,6,'4865','B2')
20190321-13-03
20190321 3 13
('1', '4966', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,1,'4966','B1')
('2', '4401', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,2,'4401','A2')
('3', '4405', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,3,'4405','B1')
('4', '4739', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,4,'4739','A1')
('5', '4270', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,5,'4270','B1')
('6', '4176', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-03' ,6,'4176','B1')
20190321-13-04
20190321 4 13
('1', '4833', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,1,'4833','B1')
('2', '4535', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,2,'4535','A2')
('3', '3161', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,3,'3161','A2')
('4', '4095', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,4,'4095','A1')
('5', '3842', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,5,'3842','A2')
('6', '5033', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-04' ,6,'5033','B2')
20190321-13-05
20190321 5 13
('1', '4988', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,1,'4988','B1')
('2', '4488', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,2,'4488','A1')
('3', '3443', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,3,'3443','B1')
('4', '4039', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,4,'4039','B1')
('5', '3936', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,5,'3936','B1')
('6', '5058', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-05' ,6,'5058','B2')
20190321-13-06
20190321 6 13
('1', '4956', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,1,'4956','B1')
('2', '4120', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,2,'4120','A2')
('3', '4258', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,3,'4258','B1')
('4', '4472', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,4,'4472','A1')
('5', '4394', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,5,'4394','A2')
('6', '4873', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-06' ,6,'4873','B1')
20190321-13-07
20190321 7 13
('1', '3284', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,1,'3284','A1')
('2', '4270', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,2,'4270','B1')
('3', '4269', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,3,'4269','A1')
('4', '4124', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,4,'4124','A2')
('5', '4310', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,5,'4310','B1')
('6', '3544', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-07' ,6,'3544','B1')
20190321-13-08
20190321 8 13
('1', '4290', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,1,'4290','A1')
('2', '4782', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,2,'4782','B1')
('3', '4176', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,3,'4176','B1')
('4', '3926', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,4,'3926','B1')
('5', '4314', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,5,'4314','A2')
('6', '3187', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-08' ,6,'3187','B1')
20190321-13-09
20190321 9 13
('1', '4168', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,1,'4168','A1')
('2', '4258', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,2,'4258','B1')
('3', '4865', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,3,'4865','B2')
('4', '4405', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,4,'4405','B1')
('5', '4488', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,5,'4488','A1')
('6', '3567', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-09' ,6,'3567','B1')
20190321-13-10
20190321 10 13
('1', '4330', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,1,'4330','A1')
('2', '3284', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,2,'3284','A1')
('3', '4095', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,3,'4095','A1')
('4', '4120', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,4,'4120','A2')
('5', '4039', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,5,'4039','B1')
('6', '4739', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-10' ,6,'4739','A1')
20190321-13-11
20190321 11 13
('1', '4472', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,1,'4472','A1')
('2', '4124', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,2,'4124','A2')
('3', '3842', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,3,'3842','A2')
('4', '3967', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,4,'3967','B1')
('5', '3443', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,5,'3443','B1')
('6', '4401', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-11' ,6,'4401','A2')
20190321-13-12
20190321 12 13
('1', '4269', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,1,'4269','A1')
('2', '4290', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,2,'4290','A1')
('3', '4168', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,3,'4168','A1')
('4', '3161', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,4,'3161','A2')
('5', '3685', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,5,'3685','A1')
('6', '3350', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-13-12' ,6,'3350','A2')
20190321-15-01
20190321 1 15
('1', '3401', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,1,'3401','A2')
('2', '3977', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,2,'3977','B1')
('3', '4375', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,3,'4375','B1')
('4', '4068', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,4,'4068','B1')
('5', '4888', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,5,'4888','B1')
('6', '3986', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-01' ,6,'3986','A2')
20190321-15-02
20190321 2 15

('1', '3064', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,1,'3064','B1')
('2', '4202', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,2,'4202','B1')
('3', '3715', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,3,'3715','B1')
('4', '4093', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,4,'4093','B1')
('5', '4666', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,5,'4666','B1')
('6', '3922', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-02' ,6,'3922','B1')
20190321-15-03
20190321 3 15
('1', '3315', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,1,'3315','B1')
('2', '3881', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,2,'3881','B1')
('3', '4559', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,3,'4559','A2')
('4', '4070', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,4,'4070','A2')
('5', '3352', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,5,'3352','B1')
('6', '3933', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-03' ,6,'3933','A1')
20190321-15-04
20190321 4 15
('1', '4538', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,1,'4538','B1')
('2', '4008', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,2,'4008','B1')
('3', '4331', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,3,'4331','A2')
('4', '4252', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,4,'4252','B1')
('5', '3957', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,5,'3957','A1')
('6', '4055', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-04' ,6,'4055','A1')
20190321-15-05
20190321 5 15
('1', '4553', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,1,'4553','A2')
('2', '4436', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,2,'4436','B1')
('3', '3200', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,3,'3200','A1')
('4', '4189', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,4,'4189','A1')
('5', '3885', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,5,'3885','B1')
('6', '3578', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-05' ,6,'3578','B1')
20190321-15-06
20190321 6 15
('1', '4343', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,1,'4343','B1')
('2', '4278', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,2,'4278','A1')
('3', '4623', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,3,'4623','B1')
('4', '3064', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,4,'3064','B1')
('5', '4136', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,5,'4136','A1')
('6', '4377', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-06' ,6,'4377','A2')
20190321-15-07
20190321 7 15
('1', '3715', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,1,'3715','B1')
('2', '3996', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,2,'3996','A1')
('3', '3710', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,3,'3710','B1')
('4', '3881', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,4,'3881','B1')
('5', '4131', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,5,'4131','A2')
('6', '4430', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-07' ,6,'4430','A1')
20190321-15-08
20190321 8 15
('1', '4566', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,1,'4566','A1')
('2', '3837', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,2,'3837','A2')
('3', '3508', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,3,'3508','B1')
('4', '4184', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,4,'4184','A1')
('5', '4093', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,5,'4093','B1')
('6', '4252', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-08' ,6,'4252','B1')
20190321-15-09
20190321 9 15
('1', '4666', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,1,'4666','B1')
('2', '4154', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,2,'4154','A2')
('3', '3719', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,3,'3719','A1')
('4', '4375', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,4,'4375','B1')
('5', '4189', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,5,'4189','A1')
('6', '4070', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-09' ,6,'4070','A2')
20190321-15-10
20190321 10 15
('1', '3200', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,1,'3200','A1')
('2', '3922', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,2,'3922','B1')
('3', '4377', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,3,'4377','A2')
('4', '4055', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,4,'4055','A1')
('5', '3401', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,5,'3401','A2')
('6', '3352', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-10' ,6,'3352','B1')
20190321-15-11
20190321 11 15
('1', '4136', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,1,'4136','A1')
('2', '4559', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,2,'4559','A2')
('3', '4430', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,3,'4430','A1')
('4', '3986', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,4,'3986','A2')
('5', '3578', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,5,'3578','B1')
('6', '3957', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-11' ,6,'3957','A1')
20190321-15-12
20190321 12 15
('1', '3996', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,1,'3996','A1')
('2', '4566', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,2,'4566','A1')
('3', '3977', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,3,'3977','B1')
('4', '4278', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,4,'4278','A1')
('5', '4553', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,5,'4553','A2')
('6', '4331', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-15-12' ,6,'4331','A2')
20190321-18-01
20190321 1 18
('1', '4335', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,1,'4335','A1')
('2', '4105', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,2,'4105','B1')
('3', '3107', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,3,'3107','B1')
('4', '4981', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,4,'4981','B1')
('5', '4153', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,5,'4153','B1')
('6', '4550', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-01' ,6,'4550','B1')
20190321-18-02
20190321 2 18

('1', '4748', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,1,'4748','A2')
('2', '4675', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,2,'4675','B1')
('3', '3176', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,3,'3176','B1')
('4', '4423', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,4,'4423','B1')
('5', '3044', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,5,'3044','B1')
('6', '5048', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-02' ,6,'5048','B2')
20190321-18-03
20190321 3 18
('1', '4350', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,1,'4350','B2')
('2', '4959', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,2,'4959','B1')
('3', '4498', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,3,'4498','B1')
('4', '5009', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,4,'5009','B2')
('5', '4654', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,5,'4654','A2')
('6', '3534', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-03' ,6,'3534','A1')
20190321-18-04
20190321 4 18
('1', '4772', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,1,'4772','A1')
('2', '3882', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,2,'3882','A2')
('3', '2883', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,3,'2883','B1')
('4', '3073', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,4,'3073','B1')
('5', '4167', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,5,'4167','B1')
('6', '4728', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-04' ,6,'4728','B1')
20190321-18-05
20190321 5 18
('1', '3347', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,1,'3347','A2')
('2', '4234', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,2,'4234','B1')
('3', '4664', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,3,'4664','B1')
('4', '3919', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,4,'3919','A2')
('5', '4981', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,5,'4981','B1')
('6', '3731', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-05' ,6,'3731','A2')
20190321-18-06
20190321 6 18
('1', '3631', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,1,'3631','A2')
('2', '4228', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,2,'4228','B1')
('3', '4550', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,3,'4550','B1')
('4', '3542', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,4,'3542','B1')
('5', '3850', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,5,'3850','A2')
('6', '3304', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-06' ,6,'3304','A1')
20190321-18-07
20190321 7 18
('1', '3501', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,1,'3501','B1')
('2', '3044', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,2,'3044','B1')
('3', '4153', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,3,'4153','B1')
('4', '4105', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,4,'4105','B1')
('5', '4498', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,5,'4498','B1')
('6', '5032', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-07' ,6,'5032','B2')
20190321-18-08
20190321 8 18
('1', '3853', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,1,'3853','A1')
('2', '4728', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,2,'4728','B1')
('3', '4959', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,3,'4959','B1')
('4', '4664', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,4,'4664','B1')
('5', '4675', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,5,'4675','B1')
('6', '4336', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-08' ,6,'4336','A2')
20190321-18-09
20190321 9 18
('1', '3919', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,1,'3919','A2')
('2', '3542', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,2,'3542','B1')
('3', '4654', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,3,'4654','A2')
('4', '3882', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,4,'3882','A2')
('5', '3107', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,5,'3107','B1')
('6', '5009', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-09' ,6,'5009','B2')
20190321-18-10
20190321 10 18
('1', '3304', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,1,'3304','A1')
('2', '4772', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,2,'4772','A1')
('3', '4748', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,3,'4748','A2')
('4', '3347', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,4,'3347','A2')
('5', '3631', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,5,'3631','A2')
('6', '3176', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-10' ,6,'3176','B1')
20190321-18-11
20190321 11 18
('1', '3731', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,1,'3731','A2')
('2', '4350', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,2,'4350','B2')
('3', '3501', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,3,'3501','B1')
('4', '4335', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,4,'4335','A1')
('5', '4423', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,5,'4423','B1')
('6', '3853', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-11' ,6,'3853','A1')
20190321-18-12
20190321 12 18
('1', '4760', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,1,'4760','A1')
('2', '4816', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,2,'4816','A1')
('3', '3556', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,3,'3556','A1')
('4', '3159', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,4,'3159','A1')
('5', '4173', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,5,'4173','A2')
('6', '4710', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-18-12' ,6,'4710','A2')
20190321-19-01
20190321 1 19
('1', '4264', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,1,'4264','A1')
('2', '3818', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,2,'3818','B2')
('3', '3976', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,3,'3976','B1')
('4', '4126', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,4,'4126','B1')
('5', '3723', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,5,'3723','B1')
('6', '4771', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-01' ,6,'4771','B1')
20190321-19-02
20190321 2 19

('1', '4777', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,1,'4777','B2')
('2', '3709', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,2,'3709','B1')
('3', '3843', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,3,'3843','A2')
('4', '3583', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,4,'3583','B1')
('5', '5000', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,5,'5000','B2')
('6', '4226', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-02' ,6,'4226','B1')
20190321-19-03
20190321 3 19
('1', '4425', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,1,'4425','B1')
('2', '4383', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,2,'4383','A2')
('3', '3539', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,3,'3539','B1')
('4', '4005', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,4,'4005','B1')
('5', '4601', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,5,'4601','A1')
('6', '4179', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-03' ,6,'4179','A2')
20190321-19-04
20190321 4 19
('1', '4846', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,1,'4846','B1')
('2', '4434', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,2,'4434','A2')
('3', '4287', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,3,'4287','A1')
('4', '4561', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,4,'4561','A2')
('5', '4007', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,5,'4007','B1')
('6', '4294', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-04' ,6,'4294','A1')
20190321-19-05
20190321 5 19
('1', '3997', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,1,'3997','A1')
('2', '3036', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,2,'3036','B1')
('3', '4041', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,3,'4041','B1')
('4', '4424', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,4,'4424','A1')
('5', '4126', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,5,'4126','B1')
('6', '4980', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-05' ,6,'4980','B1')
20190321-19-06
20190321 6 19
('1', '4396', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,1,'4396','B1')
('2', '3723', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,2,'3723','B1')
('3', '4063', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,3,'4063','A1')
('4', '4985', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,4,'4985','B1')
('5', '3615', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,5,'3615','A2')
('6', '3942', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-06' ,6,'3942','A1')
20190321-19-07
20190321 7 19
('1', '3684', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,1,'3684','A2')
('2', '3976', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,2,'3976','B1')
('3', '4643', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,3,'4643','A1')
('4', '4452', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,4,'4452','A2')
('5', '5008', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,5,'5008','B2')
('6', '4871', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-07' ,6,'4871','B1')
20190321-19-08
20190321 8 19
('1', '3944', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,1,'3944','A1')
('2', '3583', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,2,'3583','B1')
('3', '4428', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,3,'4428','A2')
('4', '3682', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,4,'3682','B1')
('5', '4006', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,5,'4006','A2')
('6', '4348', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-08' ,6,'4348','A2')
20190321-19-09
20190321 9 19
('1', '4287', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,1,'4287','A1')
('2', '4179', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,2,'4179','A2')
('3', '4424', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,3,'4424','A1')
('4', '4264', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,4,'4264','A1')
('5', '4041', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,5,'4041','B1')
('6', '4383', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-09' ,6,'4383','A2')
20190321-19-10
20190321 10 19
('1', '4063', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,1,'4063','A1')
('2', '4601', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,2,'4601','A1')
('3', '4434', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,3,'4434','A2')
('4', '3942', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,4,'3942','A1')
('5', '4561', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,5,'4561','A2')
('6', '4425', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-10' ,6,'4425','B1')
20190321-19-11
20190321 11 19
('1', '4643', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,1,'4643','A1')
('2', '4294', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,2,'4294','A1')
('3', '3997', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,3,'3997','A1')
('4', '3615', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,4,'3615','A2')
('5', '3684', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,5,'3684','A2')
('6', '3843', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-11' ,6,'3843','A2')
20190321-19-12
20190321 12 19
('1', '4006', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,1,'4006','A2')
('2', '4452', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,2,'4452','A2')
('3', '3036', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,3,'3036','B1')
('4', '3944', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,4,'3944','A1')
('5', '3709', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,5,'3709','B1')
('6', '5000', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-19-12' ,6,'5000','B2')
20190321-20-01
20190321 1 20
('1', '2787', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,1,'2787','B1')
('2', '2935', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,2,'2935','B1')
('3', '4021', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,3,'4021','B1')
('4', '4516', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,4,'4516','B1')
('5', '3335', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,5,'3335','B1')
('6', '3444', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-01' ,6,'3444','B1')
20190321-20-02
20190321 2 20

('1', '3325', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,1,'3325','B1')
('2', '3916', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,2,'3916','B1')
('3', '3424', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,3,'3424','B2')
('4', '3911', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,4,'3911','B1')
('5', '3156', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,5,'3156','B1')
('6', '4669', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-02' ,6,'4669','B2')
20190321-20-03
20190321 3 20
('1', '4919', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,1,'4919','B1')
('2', '3624', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,2,'3624','B1')
('3', '4003', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,3,'4003','A2')
('4', '4119', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,4,'4119','B1')
('5', '3575', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,5,'3575','B1')
('6', '4004', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-03' ,6,'4004','A2')
20190321-20-04
20190321 4 20
('1', '3353', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,1,'3353','B1')
('2', '3051', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,2,'3051','B1')
('3', '3282', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,3,'3282','B1')
('4', '3058', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,4,'3058','B1')
('5', '4111', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,5,'4111','A2')
('6', '3065', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-04' ,6,'3065','B1')
20190321-20-05
20190321 5 20
('1', '4121', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,1,'4121','A2')
('2', '4551', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,2,'4551','A2')
('3', '2935', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,3,'2935','B1')
('4', '4832', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,4,'4832','A2')
('5', '4516', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,5,'4516','B1')
('6', '4457', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-05' ,6,'4457','B1')
20190321-20-06
20190321 6 20
('1', '4802', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,1,'4802','A2')
('2', '4021', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,2,'4021','B1')
('3', '3968', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,3,'3968','A2')
('4', '3156', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,4,'3156','B1')
('5', '3424', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,5,'3424','B2')
('6', '4939', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-06' ,6,'4939','A1')
20190321-20-07
20190321 7 20
('1', '3643', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,1,'3643','A2')
('2', '4669', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,2,'4669','B2')
('3', '3911', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,3,'3911','B1')
('4', '4004', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,4,'4004','A2')
('5', '4119', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,5,'4119','B1')
('6', '3574', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-07' ,6,'3574','A1')
20190321-20-08
20190321 8 20
('1', '4831', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,1,'4831','A1')
('2', '3575', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,2,'3575','B1')
('3', '3916', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,3,'3916','B1')
('4', '3325', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,4,'3325','B1')
('5', '2787', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,5,'2787','B1')
('6', '3624', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-08' ,6,'3624','B1')
20190321-20-09
20190321 9 20
('1', '4111', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,1,'4111','A2')
('2', '3058', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,2,'3058','B1')
('3', '3444', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,3,'3444','B1')
('4', '4551', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,4,'4551','A2')
('5', '4939', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,5,'4939','A1')
('6', '4614', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-09' ,6,'4614','B2')
20190321-20-10
20190321 10 20
('1', '3065', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,1,'3065','B1')
('2', '4802', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,2,'4802','A2')
('3', '4832', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,3,'4832','A2')
('4', '4003', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,4,'4003','A2')
('5', '3968', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,5,'3968','A2')
('6', '3051', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-10' ,6,'3051','B1')
20190321-20-11
20190321 11 20
('1', '3574', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,1,'3574','A1')
('2', '4831', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,2,'4831','A1')
('3', '4121', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,3,'4121','A2')
('4', '3282', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,4,'3282','B1')
('5', '3643', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,5,'3643','A2')
('6', '3353', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-11' ,6,'3353','B1')
20190321-20-12
20190321 12 20
('1', '4370', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,1,'4370','A1')
('2', '3983', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,2,'3983','A1')
('3', '3788', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,3,'3788','A1')
('4', '4786', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,4,'4786','A1')
('5', '4061', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,5,'4061','A1')
('6', '4958', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-20-12' ,6,'4958','B1')
20190321-21-01
20190321 1 21
('1', '4448', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,1,'4448','A1')
('2', '4487', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,2,'4487','B1')
('3', '4309', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,3,'4309','B2')
('4', '3478', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,4,'3478','B1')
('5', '4129', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,5,'4129','B1')
('6', '4555', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-01' ,6,'4555','B1')
20190321-21-02
20190321 2 21

('1', '4543', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,1,'4543','A2')
('2', '4709', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,2,'4709','B1')
('3', '3294', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,3,'3294','B1')
('4', '3388', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,4,'3388','A1')
('5', '4622', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,5,'4622','B1')
('6', '3824', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-02' ,6,'3824','B2')
20190321-21-03
20190321 3 21
('1', '4319', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,1,'4319','A2')
('2', '4094', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,2,'4094','B1')
('3', '3745', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,3,'3745','A2')
('4', '4485', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,4,'4485','B1')
('5', '3995', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,5,'3995','A1')
('6', '4307', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-03' ,6,'4307','B1')
20190321-21-04
20190321 4 21
('1', '3327', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,1,'3327','A1')
('2', '2876', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,2,'2876','B1')
('3', '3811', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,3,'3811','A2')
('4', '4794', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,4,'4794','B1')
('5', '4369', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,5,'4369','A1')
('6', '4040', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-04' ,6,'4040','A1')
20190321-21-05
20190321 5 21
('1', '3934', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,1,'3934','A2')
('2', '4361', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,2,'4361','A1')
('3', '4555', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,3,'4555','B1')
('4', '3585', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,4,'3585','B1')
('5', '3696', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,5,'3696','A2')
('6', '3726', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-05' ,6,'3726','A2')
20190321-21-06
20190321 6 21
('1', '4129', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,1,'4129','B1')
('2', '3828', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,2,'3828','A1')
('3', '3834', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,3,'3834','A2')
('4', '4038', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,4,'4038','B1')
('5', '4564', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,5,'4564','B1')
('6', '3963', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-06' ,6,'3963','A2')
20190321-21-07
20190321 7 21
('1', '4441', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,1,'4441','B1')
('2', '3824', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,2,'3824','B2')
('3', '4880', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,3,'4880','B1')
('4', '4094', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,4,'4094','B1')
('5', '4309', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,5,'4309','B2')
('6', '5031', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-07' ,6,'5031','B2')
20190321-21-08
20190321 8 21
('1', '3445', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,1,'3445','A2')
('2', '4622', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,2,'4622','B1')
('3', '4319', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,3,'4319','A2')
('4', '4083', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,4,'4083','A1')
('5', '3741', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,5,'3741','B1')
('6', '4713', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-08' ,6,'4713','B1')
20190321-21-09
20190321 9 21
('1', '3478', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,1,'3478','B1')
('2', '3963', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,2,'3963','A2')
('3', '4361', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,3,'4361','A1')
('4', '3811', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,4,'3811','A2')
('5', '5044', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,5,'5044','B1')
('6', '4218', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-09' ,6,'4218','A1')
20190321-21-10
20190321 10 21
('1', '4369', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,1,'4369','A1')
('2', '4564', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,2,'4564','B1')
('3', '4448', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,3,'4448','A1')
('4', '3934', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,4,'3934','A2')
('5', '3745', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,5,'3745','A2')
('6', '4753', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-10' ,6,'4753','B1')
20190321-21-11
20190321 11 21
('1', '3696', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,1,'3696','A2')
('2', '3995', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,2,'3995','A1')
('3', '4441', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,3,'4441','B1')
('4', '3445', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,4,'3445','A2')
('5', '3388', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,5,'3388','A1')
('6', '4487', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-11' ,6,'4487','B1')
20190321-21-12
20190321 12 21
('1', '4083', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,1,'4083','A1')
('2', '3726', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,2,'3726','A2')
('3', '3327', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,3,'3327','A1')
('4', '4543', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,4,'4543','A2')
('5', '3828', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,5,'3828','A1')
('6', '4880', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-21-12' ,6,'4880','B1')
20190321-22-01
20190321 1 22
('1', '3289', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,1,'3289','A2')
('2', '4770', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,2,'4770','B2')
('3', '3551', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,3,'3551','B2')
('4', '4901', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,4,'4901','B1')
('5', '5045', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,5,'5045','B2')
('6', '4893', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-01' ,6,'4893','B1')
20190321-22-02
20190321 2 22

('1', '4349', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,1,'4349','B1')
('2', '4590', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,2,'4590','A2')
('3', '4300', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,3,'4300','B1')
('4', '5018', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,4,'5018','B1')
('5', '4845', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,5,'4845','B1')
('6', '3207', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-02' ,6,'3207','B1')
20190321-22-03
20190321 3 22
('1', '4942', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,1,'4942','B1')
('2', '4548', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,2,'4548','B1')
('3', '4844', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,3,'4844','B1')
('4', '4866', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,4,'4866','B1')
('5', '4765', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,5,'4765','B1')
('6', '5057', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-03' ,6,'5057','B2')
20190321-22-04
20190321 4 22
('1', '4965', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,1,'4965','B1')
('2', '4694', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,2,'4694','B1')
('3', '3357', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,3,'3357','B1')
('4', '4023', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,4,'4023','B1')
('5', '4974', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,5,'4974','B1')
('6', '4433', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-04' ,6,'4433','A2')
20190321-22-05
20190321 5 22
('1', '4940', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,1,'4940','B2')
('2', '3334', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,2,'3334','A2')
('3', '4775', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,3,'4775','B1')
('4', '4924', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,4,'4924','B1')
('5', '3551', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,5,'3551','B2')
('6', '3783', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-05' ,6,'3783','A1')
20190321-22-06
20190321 6 22
('1', '4964', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,1,'4964','B1')
('2', '4117', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,2,'4117','A1')
('3', '3825', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,3,'3825','B1')
('4', '4770', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,4,'4770','B2')
('5', '5018', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,5,'5018','B1')
('6', '4590', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-06' ,6,'4590','A2')
20190321-22-07
20190321 7 22
('1', '3994', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,1,'3994','A2')
('2', '4893', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,2,'4893','B1')
('3', '4506', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,3,'4506','A2')
('4', '4845', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,4,'4845','B1')
('5', '5057', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,5,'5057','B2')
('6', '4765', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-07' ,6,'4765','B1')
20190321-22-08
20190321 8 22
('1', '4447', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,1,'4447','A2')
('2', '4300', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,2,'4300','B1')
('3', '4023', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,3,'4023','B1')
('4', '4548', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,4,'4548','B1')
('5', '4694', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,5,'4694','B1')
('6', '5045', 'B2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-08' ,6,'5045','B2')
20190321-22-09
20190321 9 22
('1', '4901', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,1,'4901','B1')
('2', '4924', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,2,'4924','B1')
('3', '4974', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,3,'4974','B1')
('4', '3289', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,4,'3289','A2')
('5', '4942', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,5,'4942','B1')
('6', '4775', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-09' ,6,'4775','B1')
20190321-22-10
20190321 10 22
('1', '4506', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,1,'4506','A2')
('2', '4844', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,2,'4844','B1')
('3', '4965', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,3,'4965','B1')
('4', '4117', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,4,'4117','A1')
('5', '4349', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,5,'4349','B1')
('6', '4964', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-10' ,6,'4964','B1')
20190321-22-11
20190321 11 22
('1', '4866', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,1,'4866','B1')
('2', '4447', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,2,'4447','A2')
('3', '3334', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,3,'3334','A2')
('4', '3825', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,4,'3825','B1')
('5', '3994', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,5,'3994','A2')
('6', '3357', 'B1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-11' ,6,'3357','B1')
20190321-22-12
20190321 12 22
('1', '4011', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,1,'4011','A2')
('2', '3188', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,2,'3188','A1')
('3', '3470', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,3,'3470','A2')
('4', '4848', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,4,'4848','A1')
('5', '4885', 'A1')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,5,'4885','A1')
('6', '4045', 'A2')
INSERT INTO racemember (raceId,rmLane,rmToban,rmRank) VALUES ('20190321-22-12' ,6,'4045','A2')

In [6]:
def getOldOddsKoushiki3rentan(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/odds3t?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    # 3連単の組み合わせリストを辞書順に作成
    sanrentanList=[]
    for i in range(1,6+1):
        for j in range(1,6+1):
            for k in range(1,6+1):
                if (i==j or i==k or j==k):
                    continue
                else:
                    sanrentanList.append(str(i)+"-"+str(j)+"-"+str(k))
    sorted(sanrentanList)
    
    sanrentanOddsList=[]
    for oddspoint in soup.select(".oddsPoint"):
        sanrentanOddsList.append(oddspoint.string)
    
    cnt=0
    for i in range(6):
        for j in range(20):
            yield sanrentanList[i*20+j],sanrentanOddsList[i+j*6]
    
raceId="20190321-01-01"
for ret in getOldOddsKoushiki3rentan(raceId):
    print(ret)

20190321 1 01
('1-2-3', '47.0')
('1-2-4', '27.2')
('1-2-5', '238.8')
('1-2-6', '98.8')
('1-3-2', '45.4')
('1-3-4', '19.3')
('1-3-5', '210.3')
('1-3-6', '50.8')
('1-4-2', '15.6')
('1-4-3', '13.1')
('1-4-5', '130.1')
('1-4-6', '25.3')
('1-5-2', '525.1')
('1-5-3', '433.0')
('1-5-4', '303.4')
('1-5-6', '679.3')
('1-6-2', '146.6')
('1-6-3', '101.0')
('1-6-4', '74.4')
('1-6-5', '416.0')
('2-1-3', '84.3')
('2-1-4', '48.7')
('2-1-5', '336.6')
('2-1-6', '148.6')
('2-3-1', '134.3')
('2-3-4', '85.2')
('2-3-5', '787.7')
('2-3-6', '199.6')
('2-4-1', '37.8')
('2-4-3', '51.7')
('2-4-5', '317.8')
('2-4-6', '87.2')
('2-5-1', '841.5')
('2-5-3', '1346')
('2-5-4', '1000')
('2-5-6', '1806')
('2-6-1', '295.0')
('2-6-3', '244.3')
('2-6-4', '206.8')
('2-6-5', '1322')
('3-1-2', '91.4')
('3-1-4', '35.8')
('3-1-5', '252.7')
('3-1-6', '76.8')
('3-2-1', '125.0')
('3-2-4', '83.1')
('3-2-5', '597.1')
('3-2-6', '143.7')
('3-4-1', '34.9')
('3-4-2', '57.5')
('3-4-5', '359.4')
('3-4-6', '53.6')
('3-5-1', '718.9')
('3-5-2', '1213')
('3-5-4', '851.1')
('3-5-6', '763.4')
('3-6-1', '104.7')
('3-6-2', '129.0')
('3-6-4', '79.0')
('3-6-5', '375.8')
('4-1-2', '12.1')
('4-1-3', '10.1')
('4-1-5', '100.7')
('4-1-6', '20.8')
('4-2-1', '22.0')
('4-2-3', '28.6')
('4-2-5', '219.7')
('4-2-6', '53.2')
('4-3-1', '17.1')
('4-3-2', '30.5')
('4-3-5', '205.7')
('4-3-6', '34.9')
('4-5-1', '250.1')
('4-5-2', '459.9')
('4-5-3', '409.1')
('4-5-6', '391.8')
('4-6-1', '52.8')
('4-6-2', '79.9')
('4-6-3', '61.8')
('4-6-5', '312.4')
('5-1-2', '1175')
('5-1-3', '685.6')
('5-1-4', '787.7')
('5-1-6', '1346')
('5-2-1', '507.2')
('5-2-3', '2468')
('5-2-4', '1194')
('5-2-6', '1511')
('5-3-1', '454.3')
('5-3-2', '1645')
('5-3-4', '1851')
('5-3-6', '1851')
('5-4-1', '387.7')
('5-4-2', '1122')
('5-4-3', '1424')
('5-4-6', '1194')
('5-6-1', '2001')
('5-6-2', '1683')
('5-6-3', '1645')
('5-6-4', '1609')
('6-1-2', '500.3')
('6-1-3', '308.5')
('6-1-4', '239.6')
('6-1-5', '1806')
('6-2-1', '356.0')
('6-2-3', '357.7')
('6-2-4', '283.7')
('6-2-5', '1609')
('6-3-1', '210.3')
('6-3-2', '287.0')
('6-3-4', '184.2')
('6-3-5', '1000')
('6-4-1', '167.9')
('6-4-2', '230.6')
('6-4-3', '181.0')
('6-4-5', '1276')
('6-5-1', '2962')
('6-5-2', '2001')
('6-5-3', '1851')
('6-5-4', '2001')

In [7]:
def getOldOddsKoushiki3renfuku(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/odds3f?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    # 3連複の組み合わせリストをサイトからの取得可能順に作成
    sanrenfukuList=[]
    for k in range(3,6+1):
        sanrenfukuList.append(str(1)+"-"+str(2)+"-"+str(k))
    for k in range(4,6+1):
        for i in range(1,2+1):
            sanrenfukuList.append(str(i)+"-"+str(3)+"-"+str(k))
    for k in range(5,6+1):
        for i in range(1,3+1):
            sanrenfukuList.append(str(i)+"-"+str(4)+"-"+str(k))
    for i in range(1,4+1):
        sanrenfukuList.append(str(i)+"-"+str(5)+"-"+str(6))
    
    #print(sanrenfukuList)
    sanrenfukuOddsList=[]
    for oddspoint in soup.select(".oddsPoint"):
        sanrenfukuOddsList.append(oddspoint.string)
    
    for i in range(len(sanrenfukuList)):
        yield sanrenfukuList[i],sanrenfukuOddsList[i]
    
raceId="20190321-01-01"
for ret in getOldOddsKoushiki3renfuku(raceId):
    print(ret)

20190321 1 01
('1-2-3', '15.1')
('1-2-4', '2.9')
('1-2-5', '85.2')
('1-2-6', '37.9')
('1-3-4', '2.6')
('2-3-4', '9.5')
('1-3-5', '93.7')
('2-3-5', '156.2')
('1-3-6', '17.4')
('2-3-6', '42.6')
('1-4-5', '46.0')
('2-4-5', '87.8')
('3-4-5', '117.1')
('1-4-6', '9.7')
('2-4-6', '16.2')
('3-4-6', '12.7')
('1-5-6', '127.8')
('2-5-6', '200.8')
('3-5-6', '147.9')
('4-5-6', '140.5')

In [8]:
def getOldOddsKoushiki2rentan(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/odds2tf?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    block =(soup.select(".is-p3-0"))[0]
    tmpcnt1=1
    for trs in block.select("tr"):
        tmpcnt2=0
        tmp1stlane=1
        for tds in trs.select("td"):
            if tmpcnt2%2==0:
                cs=tds.string
            else:
                odds=tds.string
                yield str(tmp1stlane)+"-"+str(cs),odds
                tmp1stlane+=1
            tmpcnt2+=1
        tmpcnt1+=1
        
raceId="20190321-01-01"
for ret in getOldOddsKoushiki2rentan(raceId):
    print(ret)

20190321 1 01
('1-2', '14.0')
('2-1', '28.6')
('3-1', '13.1')
('4-1', '4.5')
('5-1', '178.5')
('6-1', '82.0')
('1-3', '9.0')
('2-3', '42.1')
('3-2', '29.7')
('4-2', '9.3')
('5-2', '505.7')
('6-2', '112.3')
('1-4', '5.7')
('2-4', '14.0')
('3-4', '16.7')
('4-3', '9.2')
('5-3', '379.3')
('6-3', '82.0')
('1-5', '86.7')
('2-5', '202.3')
('3-5', '131.9')
('4-5', '67.4')
('5-4', '151.7')
('6-4', '52.3')
('1-6', '29.4')
('2-6', '89.2')
('3-6', '21.6')
('4-6', '25.7')
('5-6', '216.7')
('6-5', '202.3')

In [20]:
def getOldOddsKoushiki2renfuku(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/odds2tf?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    block =(soup.select(".is-p3-0"))[1]
    tmpcnt1=1
    for trs in block.select("tr"):
        tmpcnt2=0
        tmp1stlane=1
        for tds in trs.select("td"):
            if tmpcnt2%2==0:
                cs=tds.string
            elif tds['class'][0] == "oddsPoint":
                odds=tds.string
                yield str(tmp1stlane)+"-"+str(cs),odds
                tmp1stlane+=1
            tmpcnt2+=1
        tmpcnt1+=1
        
raceId="20190321-01-01"
for ret in getOldOddsKoushiki2renfuku(raceId):
    print(ret)

20190321 1 01
('1-2', '9.0')
('1-3', '5.3')
('2-3', '24.4')
('1-4', '2.1')
('2-4', '7.4')
('3-4', '6.6')
('1-5', '105.8')
('2-5', '90.7')
('3-5', '105.8')
('4-5', '63.5')
('1-6', '22.6')
('2-6', '39.7')
('3-6', '17.1')
('4-6', '15.1')
('5-6', '317.6')

In [29]:
def getOldOddsKoushikiTansho(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/oddstf?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    block =((soup.select(".grid_unit"))[0].select("table")[0]).select(".oddsPoint")
    i=1
    for tds in block:
        yield i,tds.string
        i+=1
    
raceId="20190321-01-01"
for ret in getOldOddsKoushikiTansho(raceId):
    print(ret)

20190321 1 01
(1, '2.8')
(2, '20.1')
(3, '8.3')
(4, '1.2')
(5, '0.0')
(6, '33.5')

In [31]:
def getOldOddsKoushikiFukusho(raceId):
    raceDate=raceId[0:8]
    raceNumber=int(raceId[12:14])
    placeId=raceId[9:11]
    print(raceDate,raceNumber,placeId)
    html = u.urlopen("https://www.boatrace.jp/owpc/pc/race/oddstf?rno=%d&jcd=%s&hd=%s" %(raceNumber,placeId,raceDate) )
    time.sleep(1)
    soup = BeautifulSoup(html,"html.parser")
    
    block =((soup.select(".grid_unit"))[1].select("table")[0]).select(".oddsPoint")
    i=1
    for tds in block:
        yield i,tds.string
        i+=1
    
raceId="20190321-01-01"
for ret in getOldOddsKoushikiFukusho(raceId):
    print(ret)

20190321 1 01
(1, '1.3-3.3')
(2, '2.5-7.2')
(3, '1.4-3.6')
(4, '1.1-1.8')
(5, '0.0-0.0')
(6, '3.6-10.8')