In [9]:
# ToDo 選手情報・過去レース情報から3連単舟券120種をクラス分類する

# 汎用ライブラリのimport
import sys
import os
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm

import tensorflow as tf

In [2]:
# 自作ライブラリのimport
if os.environ['BR_HOME']+"/boatrace" not in sys.path:
    sys.path.append(os.environ['BR_HOME']+"/boatrace")
#print(sys.path)

from setup.myUtil import dbHandler

In [3]:
# 分析期間の指定は一旦ここでまとめてみる。
trainStartDate="20180201"
trainEndDate="20180228"
testStartDate="20180301"
testEndDate="20180331"

In [4]:
dbh=dbHandler.getDBHandle()
#dbHandler.closeDBHandle(dbh)

In [6]:
# trainの元データを取得
# Todo 階級も入れて、get_dummiesする。
with dbh.cursor() as cursor:
    sel_sql = "select * from raceabst_forml_v \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (trainStartDate,trainEndDate)
    cursor.execute(sel_sql)
    loadList=cursor.fetchall()
print(len(loadList))

3843

In [7]:
df = pd.io.json.json_normalize(loadList)
df.head()

,funaken,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,...,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,odds,raceDate,raceId,raceWaveHeight,raceWindSpeed
0,4-3-2,1,20.95,35.24,34.82,54.46,17.032873,0,32.46,50.00,...,26.09,41.74,30.57,47.77,2.630091,207.0,2018-02-01,20180201-02-01,0,0.0
1,4-1-2,0,25.22,40.00,21.00,38.00,3.813810,0,37.59,54.89,...,33.05,51.69,28.87,47.89,0.762340,10.7,2018-02-01,20180201-02-02,1,1.0
2,3-2-1,0,36.57,51.49,29.61,45.39,7.815553,0,29.31,49.14,...,33.33,44.44,36.61,62.50,2.067739,39.1,2018-02-01,20180201-02-03,1,1.0
3,1-3-4,0,36.13,56.30,35.88,46.56,5.418879,0,32.80,48.00,...,36.84,50.38,33.12,48.41,2.355796,36.7,2018-02-01,20180201-02-04,1,1.0
4,2-1-4,0,31.67,44.17,37.96,52.78,13.861935,0,27.03,44.14,...,36.67,55.83,24.14,51.72,2.645608,11.9,2018-02-01,20180201-02-05,1,1.0

In [20]:
# 入力のデータ整形
xdf=df.drop(['funaken','odds','raceId','raceDate'],axis=1)
xdf.head()

,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,l2motor2r,...,l5motor3r,l5score,l6Fcnt,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,raceWaveHeight,raceWindSpeed
0,1,20.95,35.24,34.82,54.46,17.032873,0,32.46,50.00,26.60,...,34.31,1.600358,0,26.09,41.74,30.57,47.77,2.630091,0,0.0
1,0,25.22,40.00,21.00,38.00,3.813810,0,37.59,54.89,34.85,...,50.98,3.090330,1,33.05,51.69,28.87,47.89,0.762340,1,1.0
2,0,36.57,51.49,29.61,45.39,7.815553,0,29.31,49.14,31.54,...,47.48,3.516793,0,33.33,44.44,36.61,62.50,2.067739,1,1.0
3,0,36.13,56.30,35.88,46.56,5.418879,0,32.80,48.00,27.34,...,38.24,0.833385,0,36.84,50.38,33.12,48.41,2.355796,1,1.0
4,0,31.67,44.17,37.96,52.78,13.861935,0,27.03,44.14,33.59,...,39.64,1.682822,0,36.67,55.83,24.14,51.72,2.645608,1,1.0

In [22]:
# 結果のOne-Hot表現を作る
ydf=df['funaken']
ydf=pd.get_dummies(ydf,columns=['funaken'])
ydf.head()

,1-2-3,1-2-4,1-2-5,1-2-6,1-3-2,1-3-4,1-3-5,1-3-6,1-4-2,1-4-3,...,6-3-4,6-3-5,6-4-1,6-4-2,6-4-3,6-4-5,6-5-1,6-5-2,6-5-3,6-5-4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
xAtrNum=38
yclassNum=120
# create the model
x = tf.placeholder(tf.float32,[None,xAtrNum])
#W = tf.Variable(tf.zeros([xAtrNum,yclassNum]))
#b = tf.Variable(tf.zeros([yclassNum]))
W = tf.Variable(tf.random_uniform([xAtrNum,yclassNum],-1.0,1.0))
b = tf.Variable(tf.random_uniform([yclassNum],-1.0,1.0))
y = tf.nn.softmax(tf.matmul(x,W)+b )

In [28]:
# define loss and optimizer
y_ = tf.placeholder(tf.float32,[None,yclassNum])
#cross_entropy=-tf.reduce_sum(y_*tf.log(y))
cross_entropy=-tf.reduce_sum( (y_-y)**2 )
train_step=tf.train.GradientDescentOptimizer(0.01).minimize(cross_entropy)

In [29]:
# train
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)
for i in range(100):
    sess.run(train_step,feed_dict={x:xdf.values,y_:ydf.values})
    print(sess.run(cross_entropy,feed_dict={x:xdf.values,y_:ydf.values}))

-7658.207
-7660.885
-7662.2466
-7663.108
-7663.8853
-7664.5654
-7665.104
-7665.5347
-7665.8906
-7666.201
-7666.4224
-7666.587
-7666.7246
-7666.847
-7666.9575
-7667.0586
-7667.152
-7667.24
-7667.323
-7667.401
-7667.474
-7667.543
-7667.609
-7667.671
-7667.729
-7667.784
-7667.8374
-7667.8877
-7667.9365
-7667.983
-7668.027
-7668.0693
-7668.1104
-7668.1494
-7668.187
-7668.2236
-7668.259
-7668.292
-7668.324
-7668.3555
-7668.386
-7668.415
-7668.4434
-7668.4707
-7668.4966
-7668.522
-7668.547
-7668.5703
-7668.5938
-7668.616
-7668.638
-7668.6587
-7668.679
-7668.699
-7668.7188
-7668.7373
-7668.7554
-7668.773
-7668.79
-7668.8066
-7668.8228
-7668.838
-7668.8535
-7668.868
-7668.8833
-7668.8975
-7668.911
-7668.9243
-7668.9375
-7668.95
-7668.963
-7668.975
-7668.9873
-7668.999
-7669.01
-7669.0215
-7669.032
-7669.043
-7669.0527
-7669.0635
-7669.073
-7669.083
-7669.093
-7669.1016
-7669.1104
-7669.12
-7669.1284
-7669.137
-7669.1455
-7669.1543
-7669.162
-7669.17
-7669.1777
-7669.1855
-7669.193
-7669.2007
-7669.208
-7669.215
-7669.2217
-7669.2285

In [30]:
# メモリ使用チェック
print("{}{: >25}{}{: >10}{}".format('|','Variable Name','|','Memory','|'))
print(" ------------------------------------ ")
for var_name in dir():
    if not var_name.startswith("_") and sys.getsizeof(eval(var_name)) > 1000: #ここだけアレンジ
        print("{}{: >25}{}{: >10}{}".format('|',var_name,'|',sys.getsizeof(eval(var_name)),'|'))

|            Variable Name|    Memory|
 ------------------------------------
|                       df|   1863959|
|                      df2|    461264|
|                 loadList|     33928|
|            startInfoList|     33928|
|                      xdf|   1168376|
|                      xin|   1168376|
|                      ydf|    461264|