In [1]:
# ToDo 選手情報・過去レース情報から3連単舟券120種をクラス分類する

# 汎用ライブラリのimport
import sys
import os
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm

import tensorflow as tf

In [2]:
# 自作ライブラリのimport
if os.environ['BR_HOME']+"/boatrace" not in sys.path:
    sys.path.append(os.environ['BR_HOME']+"/boatrace")
#print(sys.path)

from setup.myUtil import dbHandler

In [3]:
# 分析期間の指定は一旦ここでまとめてみる。
trainStartDate="20180201"
trainEndDate="20180228"
testStartDate="20180301"
testEndDate="20180331"

In [4]:
dbh=dbHandler.getDBHandle()
#dbHandler.closeDBHandle(dbh)

In [26]:
# trainの元データを取得
# Todo 階級も入れて、get_dummiesする。
with dbh.cursor() as cursor:
    sel_sql = "select * from raceabst_forml_v \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (trainStartDate,trainEndDate)
    cursor.execute(sel_sql)
    loadList=cursor.fetchall()
print("traindata:",len(loadList))

with dbh.cursor() as cursor:
    sel_sql = "select * from raceabst_forml_v \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (testStartDate,testEndDate)
    cursor.execute(sel_sql)
    testLoadList=cursor.fetchall()
print("testdatta:",len(testLoadList))

traindata: 3843
testdatta: 4689

In [27]:
df = pd.io.json.json_normalize(loadList)
df.head()

,funaken,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,...,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,odds,raceDate,raceId,raceWaveHeight,raceWindSpeed
0,4-3-2,1,20.95,35.24,34.82,54.46,17.032873,0,32.46,50.00,...,26.09,41.74,30.57,47.77,2.630091,207.0,2018-02-01,20180201-02-01,0,0.0
1,4-1-2,0,25.22,40.00,21.00,38.00,3.813810,0,37.59,54.89,...,33.05,51.69,28.87,47.89,0.762340,10.7,2018-02-01,20180201-02-02,1,1.0
2,3-2-1,0,36.57,51.49,29.61,45.39,7.815553,0,29.31,49.14,...,33.33,44.44,36.61,62.50,2.067739,39.1,2018-02-01,20180201-02-03,1,1.0
3,1-3-4,0,36.13,56.30,35.88,46.56,5.418879,0,32.80,48.00,...,36.84,50.38,33.12,48.41,2.355796,36.7,2018-02-01,20180201-02-04,1,1.0
4,2-1-4,0,31.67,44.17,37.96,52.78,13.861935,0,27.03,44.14,...,36.67,55.83,24.14,51.72,2.645608,11.9,2018-02-01,20180201-02-05,1,1.0

In [28]:
testdf = pd.io.json.json_normalize(testLoadList)
testdf.head()

,funaken,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,...,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,odds,raceDate,raceId,raceWaveHeight,raceWindSpeed
0,1-4-3,0,36.23,53.62,45.95,64.86,5.806358,0,36.92,55.38,...,33.33,37.88,28.13,43.75,1.680446,17.3,2018-03-01,20180301-01-01,7,7.0
1,2-5-3,0,42.65,61.76,36.36,45.45,5.351027,0,13.46,30.77,...,20.00,36.67,33.33,54.55,0.749662,87.8,2018-03-01,20180301-01-02,9,9.0
2,2-1-5,0,29.23,44.62,22.58,38.71,6.271362,1,40.30,62.69,...,33.82,42.65,32.35,41.18,1.085281,23.9,2018-03-01,20180301-01-03,8,9.0
3,3-2-1,1,37.50,59.38,31.43,48.57,5.466572,0,27.14,41.43,...,39.13,52.17,23.53,32.35,1.405639,18.0,2018-03-01,20180301-01-04,8,9.0
4,5-2-3,0,29.85,47.76,44.12,70.59,3.064101,0,17.91,38.81,...,29.41,44.12,25.71,48.57,0.753276,94.6,2018-03-01,20180301-01-05,8,9.0

In [29]:
# 入力のデータ整形
xdf=df.drop(['funaken','odds','raceId','raceDate'],axis=1)
xdf.head()

,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,l2motor2r,...,l5motor3r,l5score,l6Fcnt,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,raceWaveHeight,raceWindSpeed
0,1,20.95,35.24,34.82,54.46,17.032873,0,32.46,50.00,26.60,...,34.31,1.600358,0,26.09,41.74,30.57,47.77,2.630091,0,0.0
1,0,25.22,40.00,21.00,38.00,3.813810,0,37.59,54.89,34.85,...,50.98,3.090330,1,33.05,51.69,28.87,47.89,0.762340,1,1.0
2,0,36.57,51.49,29.61,45.39,7.815553,0,29.31,49.14,31.54,...,47.48,3.516793,0,33.33,44.44,36.61,62.50,2.067739,1,1.0
3,0,36.13,56.30,35.88,46.56,5.418879,0,32.80,48.00,27.34,...,38.24,0.833385,0,36.84,50.38,33.12,48.41,2.355796,1,1.0
4,0,31.67,44.17,37.96,52.78,13.861935,0,27.03,44.14,33.59,...,39.64,1.682822,0,36.67,55.83,24.14,51.72,2.645608,1,1.0

In [30]:
# 入力のデータ整形
testxdf=testdf.drop(['funaken','odds','raceId','raceDate'],axis=1)
testxdf.head()

,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,l2motor2r,...,l5motor3r,l5score,l6Fcnt,l6boat2r,l6boat3r,l6motor2r,l6motor3r,l6score,raceWaveHeight,raceWindSpeed
0,0,36.23,53.62,45.95,64.86,5.806358,0,36.92,55.38,32.50,...,50.00,1.187500,0,33.33,37.88,28.13,43.75,1.680446,7,7.0
1,0,42.65,61.76,36.36,45.45,5.351027,0,13.46,30.77,34.38,...,69.70,4.246375,0,20.00,36.67,33.33,54.55,0.749662,9,9.0
2,0,29.23,44.62,22.58,38.71,6.271362,1,40.30,62.69,40.43,...,53.13,4.856609,0,33.82,42.65,32.35,41.18,1.085281,8,9.0
3,1,37.50,59.38,31.43,48.57,5.466572,0,27.14,41.43,21.21,...,41.18,2.248833,0,39.13,52.17,23.53,32.35,1.405639,8,9.0
4,0,29.85,47.76,44.12,70.59,3.064101,0,17.91,38.81,33.33,...,83.78,5.159426,0,29.41,44.12,25.71,48.57,0.753276,8,9.0

In [8]:
# 結果のOne-Hot表現を作る
ydf=df['funaken']
ydf=pd.get_dummies(ydf,columns=['funaken'])
ydf.head()

,1-2-3,1-2-4,1-2-5,1-2-6,1-3-2,1-3-4,1-3-5,1-3-6,1-4-2,1-4-3,...,6-3-4,6-3-5,6-4-1,6-4-2,6-4-3,6-4-5,6-5-1,6-5-2,6-5-3,6-5-4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# 結果のOne-Hot表現を作る
testydf=testdf['funaken']
testydf=pd.get_dummies(testydf,columns=['funaken'])
testydf.head()

,1-2-3,1-2-4,1-2-5,1-2-6,1-3-2,1-3-4,1-3-5,1-3-6,1-4-2,1-4-3,...,6-3-4,6-3-5,6-4-1,6-4-2,6-4-3,6-4-5,6-5-1,6-5-2,6-5-3,6-5-4
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
xAtrNum=38
yclassNum=120
# create the model
x = tf.placeholder(tf.float32,[None,xAtrNum])
#W = tf.Variable(tf.zeros([xAtrNum,yclassNum]))
#b = tf.Variable(tf.zeros([yclassNum]))
W = tf.Variable(tf.random_uniform([xAtrNum,yclassNum],-1.0,1.0))
b = tf.Variable(tf.random_uniform([yclassNum],-1.0,1.0))
y = tf.nn.softmax( (tf.matmul(x,W)+b) - tf.reduce_max(tf.matmul(x,W)+b)  )

In [20]:
# define loss and optimizer
y_ = tf.placeholder(tf.float32,[None,yclassNum])
cross_entropy=-tf.reduce_sum(y_*tf.log( tf.clip_by_value(y,1e-10,1e+10) ))
#cross_entropy=-tf.reduce_sum( (y_-y)**2 )
train_step=tf.train.GradientDescentOptimizer(0.01).minimize(cross_entropy)

In [25]:
# train
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)
for i in range(1000):
    sess.run(train_step,feed_dict={x:xdf.values,y_:ydf.values})
    if i % 100 == 0:
        print("cross_entropy:"+str(sess.run(cross_entropy,feed_dict={x:xdf.values,y_:ydf.values}) ))
        correct_prediction = tf.equal(tf.argmax(y, 1), tf.argmax(y_, 1))
        accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
        print("accuracy:"+str(sess.run(accuracy, feed_dict={x: xdf.values, y_: ydf.values})))

cross_entropy:86120.24
accuracy:0.026541764
cross_entropy:85408.97
accuracy:0.034087952
cross_entropy:85400.234
accuracy:0.032786883
cross_entropy:85399.81
accuracy:0.034087952
cross_entropy:85380.39
accuracy:0.035128806
cross_entropy:85379.93
accuracy:0.035128806
cross_entropy:85379.766
accuracy:0.035128806
cross_entropy:85379.64
accuracy:0.035128806
cross_entropy:85379.55
accuracy:0.035128806
cross_entropy:85379.484
accuracy:0.035128806

In [32]:
# test_trained_data
correct_prediction = tf.equal(tf.argmax(y, 1), tf.argmax(y_, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
print(sess.run(accuracy, feed_dict={x: testxdf.values, y_: testydf.values}))

0.030283643

In [33]:
# メモリ使用チェック
print("{}{: >25}{}{: >10}{}".format('|','Variable Name','|','Memory','|'))
print(" ------------------------------------ ")
for var_name in dir():
    if not var_name.startswith("_") and sys.getsizeof(eval(var_name)) > 1000: #ここだけアレンジ
        print("{}{: >25}{}{: >10}{}".format('|',var_name,'|',sys.getsizeof(eval(var_name)),'|'))

|            Variable Name|    Memory|
 ------------------------------------
|                       df|   1863959|
|                 loadList|     33928|
|             testLoadList|     38216|
|                   testdf|   2274269|
|                  testxdf|   1425560|
|                  testydf|    562784|
|                      xdf|   1168376|
|                      ydf|    461264|